<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8" />
<!-- title -->
<title>get in touch | <%= pageTitle %></title>

<!-- external css file -->
<link rel="stylesheet" href="/styles.css" />
<!-- favicon -->
<link rel="icon" type="image/x-icon" href="/get in touch.jpeg" />
<!-- SOCKET IO SCRIPT -->
<script src="/socket.io/socket.io.js"></script>
<!-- Java Script -->
<script defer src="/script.js"></script>
<!-- FONT AWESOME SCRIPT -->
<script
  defer
  src="https://kit.fontawesome.com/1c5964c290.js"
  crossorigin="anonymous"
></script>
