<div class="flex-center navigation-container">
  <div class="nav-icon friends-icon">
    <a class="link-friends-page" href="/friends">
      <i class="fa-solid fa-user"></i>
    </a>
  </div>
  <div class="nav-icon chat-icon">
    <a class="link-chat-page" href="/chat">
      <i class="fa-solid fa-comments"></i>
    </a>
  </div>
  <div class="nav-icon friend-requests-icon">
    <a class="link-chat-page" href="/friend-requests">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </div>
  <div class="nav-icon profile-icon">
    <a href="/my-profile">
      <img
        class="nav-profile-icon"
        src="/userProfileImages/<%= profilePhoto %>"
        alt="user profile photo"
      />
    </a>
  </div>
</div>
